/*
    content
*/
body {
    font-family: arial,verdana,serif;
}

#main-content {
    margin-top: 10%;
}

.container {
    font-size: 16px;
}

.tip {
    background: #FF9;
    border: 1px solid #E6DB55;
    padding: 1% 2%;
    font-size: 14px;
    max-height: 20%;
}

/*
    nav
*/
.navbar {
    height:40%;
    font-family: arial,verdana,serif;
}

.btn-xs btn-outline-primary {
    border: 1px solid black !important;
    text-shadow: 0 -1px rgba(0, 0, 0, .2) !important;
}

.navbar-nav #li_nav_bar {
    float: right;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: darkgray;
    padding: 0px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: dimgray;
    color: white;
}

.dropdown-upload:hover {
    cursor: pointer;
    background-color: #3e8e41;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #292b2c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


/*
    right content
*/

.right_content {
    /*width: 100px;*/
    margin-left: 0%;
}

.spaceBottom {
    background-color: #00A5F0;
    font-size: 70%;
    font-weight:bold;
    margin-bottom:10%;
    text-shadow: 0.3px 0.2px;
}

.top_fun {
    background: lightgray;
    border-radius: 10px;
}

.white_space {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

li .inline {
    display: inline;
}

#main-content {
    margin-top: 1%;
}

@media (max-width: 900px) {
    .spaceBottom {
        padding:2px 4px;
        font-size:70%;
        line-height: 1;
        border-radius:3px;
    }
}

.in_line {
    display: inline;
}

.link {
    text-decoration: none !important;
}

.top_fun_div {
    float: left;
}

@media (max-width: 900px) {
    .top_fun_div {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .top_fun_div {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .top_fun_div {
        width: 50%;
    }
    .spaceBottom {
        padding:2px 4px;
        font-size:70%;
        line-height: 1;
        border-radius:3px;
    }
}

.header_top_fun {
    margin-left: 0em;
    width: 100%;
}

@media (max-width: 320px) {
    .top_fun_div {
        width: 50%;
    }
}

.advertise {
    background: lightgray;
    margin-top: 5%;
    border-radius: 10px;
    padding: 10px 0 10px 0;
}

.clip_hot {
    background: lightgray;
    margin-top: 5%;
    border-radius: 10px;
    padding: 10px 0 10px 0;
}

.title_icon {
    float: left;
}

.clip_icon {
    /*margin-top: 10%;*/
    float: left;
    height: 100%;
    width: 25%;
}

.maybe_like {
    background: lightgray;
    margin-top: 5%;
    border-radius: 10px;
    padding: 10px 0 10px 0;
}

